html,body {
    height:100%;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 0.5fr auto;
}

header {
  padding: 1rem;
  grid-column: 1 / 4;
}

/* #container {
  display:inline;
  background-color: #4CAF50;
  /* color: white; */
  /* height: 20px;
} */
hr {
  border-top: 2px solid grey;
}


}

/* ======================== LEFt section ===========================*/

.left-side {
  padding: 5px;
  grid-column: 1 / 2;

}
#left {
  min-width: 200px;
}


main {
  grid-column: 2 / 3;
}

.maincontain {
  grid-column: 2 / 3;
}
.right-side {
  padding: 2rem;
  grid-column: 3 / 4;
  float: right;
  text-align: right;
}

footer {
  grid-column: 1 / 4;
}

.optionsecoptions
    {
    width: 200px;
    padding-left:10px;
    padding-right:10px;
    /* height: 40px; */
    background: #bbb8b8;
    float: left;
    font-size:16px;
    cursor:pointer;
    }

.optionsecoptions:hover,
    .optionsecoptions:active {
        background-color: #226fa3;
        transition: background-color 0.4s ease-in, border-color 0.4s ease-in;
        color:#ffffff;
    }


.selected{
        background-color: #226fa3;
        transition: background-color 0.4s ease-in, border-color 0.4s ease-in;
        color:#ffffff;
}

.dropped {
  padding:10px 5px;
}

#customSearchbtn {
  background-color: #4CAF50;
  /* padding: 5px, 5px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  color: white;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


/* ======================== plot pareto front ===========================*/
#paretoplotDiv {
  max-width: 300px;
}



/* ======================== Select search ===========================*/
.optionsecoptions {
  width:auto;
}



/* ========================Dropdown setings ================================*/
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
